<!-- angular
  .module('myApp')
  .directive('portfolioCard', portfolioCard);
<div class="card">
<div class="row">
 <div class="col-sm-2">
<div class="card card-inverse">
 <img class="card-img portfoliopicture" src="http://scontent.cdninstagram.com/t51.2885-19/s150x150/12750035_943300595717943_2127711694_a.jpg" alt="Card image">
 <div class="card-img-overlay">
   <h4 class="card-title">{{title}}</h4>
   <p class="card-text"> Me </p>
   <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
   <a href="http://scontent.cdninstagram.com/t51.2885-19/s150x150/12750035_943300595717943_2127711694_a.jpg"></a>
 </div>
 </div>
</div>
</div>
</div> -->
<!--Attempt 2  -->
<!-- <div class='card'>
<div class="row">
  <div class="col-sm-4">
    <div class="card card-inverse overlay">

      <img class="card-img portfoliopicture image" src="{{image}}" alt="Card Image">
  <h4 class="card-title">{{question}}</h4>
  <h6>Personal Site</h6>
</div>
</div>
</div>
</div> -->

<!-- Attmept 3 -->
<div class='card'>
  <img class="card-img portfoliopicture image" src="{{image}}" alt="Card Image">
  <h4 class="card-title">{{question}}</h4>
  <h6>Responsive Site</h6>
</div>
