/*body {
  background-color: pink;
}*/
h1 {
  color: #685151;
}

.shout{
  text-transform: uppercase;
}

.middle{
  height: 500px;
  background-color: grey;
  color: white;
}

.portfolio{
  height: 1200px;
  background-color: #685151;
  color: white;
}

#sherie {
  margin-top: 130px;
}
.card{
  background-color: grey;
  color: pink;
}
.portfoliopicture {
  width: 100%;
 height: 100%;
 object-fit: cover;
 overflow: hidden;
}

.picOfMe {
  border-color: white;
  border-width: 7px;
  border-radius: 770px;
  border-style: solid;
}

.overlay {
  background:rgba(189,29,44,.85);
  text-align:center;
  width: 267px;
  height: 175px;
  padding-top: 30px;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

.image:hover .overlay {
  opacity: 1;
